# Xcode
build/
DerivedData/
*.xcuserstate
*.xcuserdatad/
xcuserdata/
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
.swiftpm/
Package.pins
Packages/

# CocoaPods / Carthage
Pods/
Carthage/Build/

# macOS
.DS_Store
